@import "tailwindcss";

:root {
  --background: #201f1f;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #2c2a2a;
  }
}

body {
  font-family: sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
}
